@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@layer utilities{
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar{
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}